<div>
    <div style="display: flex;">
        <div style="width: 55%; padding: 30px; display: flex; flex-direction: column;">
            <p>DIGITAL MARKETING TEMPLATES</p>
            <h1 style="font-size: 50px; padding: 30px 0px 30px 0px;">Engage your customers with beautifully-made emails</h1>
            <p style="font-size: 25px;">Create eye-catching emails and grow your business with our library of 100+ newly-added paid templates.</p>
        </div>
        <div style="width: 45%;">
            <img width="650px" src="https://eep.io/images/yzco4xsimv0y/6MD1NHcibCJpU6N3ayI1t2/a3b422e5e369fc4164154e9b86e6644c/hero.png?w=1520&fm=avif&q=60" alt="">
    
    
        </div>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; background-color: #241c15; color: white; height: 30vh; padding: 0 80px 0 80px;">
        <div style="line-height: 50px;">
            <p style="font-size: 50px;">#1 in email</p>
            <p>and marketing automation platform*</p>
        </div>
        <div style="line-height: 50px;">
            <p style="font-size: 50px;">8 million</p>
            <p>data-backed  recommendations</p>
        </div>
        <div style="line-height: 50px;">
            <p style="font-size: 50px;">500 million</p>
            <p>emails sent every single day</p>
        </div>
        <div style="line-height: 50px;">
            <p style="font-size: 50px;">>99%</p>
            <p>email deliverability (average)</p>
        </div>
    </div>
</div>