<marquee behavior="" direction="" style="background-color: black; color: white; height: 60px; display: flex; align-items: center; font-weight: bold; font-size: 20px;">
    <div>- limited time offer. Get started today</div>
</marquee>