<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Blog Spot - Log in</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; gap: 5em; font-family: sans-serif; height: 80vh;">
        <div>
            <img src="https://img.freepik.com/free-vector/employer-meeting-job-applicant-pre-employment-assessment-employee-evaluation-assessment-form-report-performance-review-concept-illustration_335657-2058.jpg?t=st=1715866086~exp=1715869686~hmac=af628dc8d04689b5c5168f2beb35d3960072ea6f2c33e0a3881670cefae3c0e3&w=740" alt="">
        </div>
        <div style="margin-top: 50px;">
            <form>
               
                <div style="padding: 5px 0 5px 0; display: flex; flex-direction: column; gap: 5px;">
                    <label>Email:</label>
                    <input type="text" placeholder="enter email" autofocus style="width: 300px; height: 3px; padding: 20px; border: 1px solid #91b3fa;">
                </div>
                <div style="padding: 5px 0 5px 0; display: flex; flex-direction: column; gap: 5px;">
                    <label>Password:</label>
                    <input type="text" placeholder="enter password" style="width: 300px; height: 3px; padding: 20px; border: 1px solid #91b3fa;">
                </div>
                <div>
                    <button class="btn btn-primary mt-3">Login</button>
                </div>
            </form>
            <h6 style="margin-top: 20px;">Don't have an account yet? <a href="/register" style="text-decoration: none;">register</a></h6>
        </div>
    </div>
    
</body>
</html>
